body {
    background-image: url('../assets/images/background.jpg'); /* Space-themed background */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.box-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.center-image {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.signup-container {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: #5e91d3;
}

.signup-container h2 {
    margin-bottom: 20px;
    color: #050505;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

input::placeholder {
    color: lightgray;
}

.captcha {
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 4px;
    color: white;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #618ccc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background: #0f33c5;
}

.already-registered {
    margin-top: 15px;
    font-size: 14px;
    color: #ddd;
}

.already-registered a {
    color: #050606;
    text-decoration: none;
}
