body {
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
    background-color: #0a192f;
    color: white;
    text-align: center;
}

.quiz-container {
    width: 60%;
    margin: auto;
    padding: 20px;
    background: #112240;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #64ffda;
    margin-top: 20px;
}

h1 {
    color: #64ffda;
}

.question {
    font-size: 18px;
    margin: 10px 0;
}

.options label {
    display: block;
    margin: 5px 0;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.options input {
    margin-right: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background: #64ffda;
    color: #0a192f;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #4caf50;
    color: white;
}

#result {
    margin-top: 20px;
    font-size: 20px;
}
.home-link {
    margin-top: 30px;
}
.home-link a {
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}