body {
    background-image: url('background.jpg'); /* Space-themed background */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.quiz-container {
    max-width: 600px;
    background: rgba(255, 255, 255, 0.2) ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    margin: auto;
}

.question-block {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.question-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #ffcc00;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

button:hover {
    background-color: #ff9900;
}

h1, h2 {
    color: #ddd ;
    text-align: center;
}
.home-link {
    margin-top: 30px;
}
.home-link a {
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}
